html{
    width: 1440px;
    margin: 0 auto;
    padding: 0;
    /*background: beige;*/
}

body{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 10px 0;

}

h1{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

h2{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
/*css for header*/
.header{
    width: 100%;
    height: auto;
    padding: 5px 15px;
    box-sizing: border-box;
    box-shadow: 1px 2px 1px 2px gray;

    display: flex;
}
.header p a{
    text-decoration: none;
    font-size: 26px;
    color: black;
}

.navbar{
    list-style: none;

    width: 40%;
    height: auto;
    gap: 20px;

    display: flex;
    align-items: center;
    justify-content: start;
}
.navbar li {
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 8px;
    cursor: pointer;
}
.navbar li:hover{
    background: lightgray;
}
.navbar li a{
    text-decoration: none;
    color: black;
}
.navbar li a:active{
    text-decoration: none;
    color: black;
}

/*css for content*/
.content{
    width: 100%;
    height: auto;
    padding: 5px 5px;
    gap: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content .title{
    padding: 15px 0;

}
