.container body{
   background-color: #e5e5e5;
}
.form_control{
    width: 30%;
    height: auto;
    padding: 30px 10px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 1px 2px 1px 2px gray;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form_label{
    width: 100%;
    height: 40px;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.form_input{
    width: 95%;
    line-height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: normal;
    color: black;
    padding: 0 10px;
}
.form_input:focus{
    border: 1px solid blue;
}
.form_submit{
    width: 100%;
    line-height: 40px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    background: blue;
    box-sizing: border-box;
    box-shadow: 1px 2px 1px 2px gray;
    cursor: pointer;
}
.form_submit:hover{
    background: #0b58ff;
}